/* header{
    
    background: pink;
    color: red;
} */
* {
    margin: 0;
    padding: 0;
    }

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}
header{
    background: pink;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 90px;

}
ol,
ul{
    margin:0;
    padding:0;
    list-style: none;
}
.menu{
    height:inherit;
}
header ol {
    display: flex;
    height: inherit;
    
    
}
header ol li{
    height: inherit;
    
}
header a {
    padding: 0 10px;
    height: inherit;
    display: flex;
    align-items: center;
}
figure{
    margin:0;

}

h1{
   color: white;
    font-size: 40px;
    line-height:1.5em;
    font-style: italic;
    letter-spacing: -.2px;
    /*text-transform: capitalize;*/
    margin: 0;
}
h1 strong{
    color:red;
}
h1,
h2,
h3,
h4,
h5,
h6{
   font-family: "Fjalla One", sans-serif;
   font-weight: 400;
}
h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.hero{
    height: 300px;
    background-color: #1b2127;
    background-image: url("../images/hero.jpg");
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;

}
.portfolio{
    background: #fafafa;
    padding: 20px;

}
.project{
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    background: white;
    display: inline-block;
    display: flex;

    
    
}
.project-title{
    font-size: 30px;
    margin-bottom: 10px ;

}
.project-details{
   
    width: 500px;
    
    
    
}
.project-img-wrapper{
    width: 500px;
    display: inline-block;
}
.header{
    background-color: #1b2127;
    color: white;
    align-items: center;
}

.header a{
    color: white;
    text-decoration: none;
}
footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: space-between;

}
footer img {
    vertical-align: middle;
}