
* {
    margin: 0;
    padding: 0;
    }

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}
header{


    display: flex;
    height: 90px;
    justify-content: space-between;

}
ol,
ul{
    list-style: none;
    margin:0;
    padding:0;
}
.menu{
    height:inherit;
}
header ul {
    display: flex;
    height: inherit;


}
header ul li{
    height: inherit;

}
header a {
    align-items: center;
    display: inline-flex;
    height: inherit;
    padding: 0 10px;
}
figure{
    margin:0;
    display: block;
    float: left;

}
h1{
  float: right;
  margin-left: 30px;
}
h4{

    color: white;
    font-size: 40px;
    font-style: italic;
    letter-spacing: -.2px;
    line-height:1.5em;
    margin: 0;
    text-align: center;
}
h4 strong{
    color:red;
}
h1,
h2,
h3,
h4,
h5,
h6{
   font-family: "Fjalla One", sans-serif;
   font-weight: 400;
}

h2{
    color: #026fff;
    font-family: 'Source Sans Pro', serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.hero{
    align-items: center;
    background-color: #1b2127;
    display: flex;
    justify-content: space-between;
}
.hero-image{
    object-fit: cover;
}
.portfolio{
    background: #fafafa;
    padding: 20px;

}
.project{
    background: white;
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    margin-bottom: 15px;
    padding: 20px;



}
.project-title{
    font-size: 30px;
    margin-bottom: 10px;

}
.project-details{

    width: 300px;

}
.project-course{
    margin: 10px 0;
}
.project-img-wrapper{
    display: inline-block;
    width: 350px;
}
project-date
{
    margin: 10px 0;
}
.header{
    align-items: center;
    background-color: #1b2127;
    color: white;
}

.header a{
    color: white;
    text-decoration: none;
}
footer{
    align-items: center;
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    vertical-align: center;

}
footer img {
    vertical-align: middle;
}
.event{

    background: #f4fbff;
    border-radius: 10px;
    flex-shrink: 0px;
    margin: 10px;
    overflow: hidden;
    width: 480px;

}
.event-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.event img{
    height: 200px;
    object-fit: cover;
    width:480px;
}
.event-details{
    background-color: white;
    margin-top: -40px;
    margin: 20px 40px;
    padding: 20px;
    position: relative;
    text-align: left;
}
.event-description{
    text-align: left;

}
.event-url{
    border-radius: 5px;
    border: 1px solid #056fff;
    color: #056fff;
    padding: 5px 20px;
    text-decoration: none;
    display: flex;


}
.event-list-title
{
    margin-left: 20px;

}
.contact{
    align-items: center;
    background-color: #056fff;
    color: white;
    display: flex;
    height: 150px;
    justify-content: space-between;
}
.social{

}
.social-link{
    background-size: 25px 25px;
    display: inline-block;
    height: 25px;
    margin: 0 10px;
    width: 25px;
}
.social-link.twitter{
    background-image: url('../images/twitter.svg');

}
.social-link.facebook{
    background-image: url('../images/facebook.svg');
}
.social-link.github{
    background-image: url('../images/github.svg');
}
.form-email input
{
        background-image: url('../images/envelope.svg');
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: 15px 15px;
        border-color: gray;
        border-radius: 5px;
        border-style: solid;
        padding: 10px 20px 10px 25px;

}
.form-email button{
    background: transparent;
    border-radius: 5px;
    color: white;
    display: block;
    margin-top: 10px;
    margin-top: 11px;
    padding: 10px 0;
    width: 100px;

    /* margin 10px auto 0; */
}
.form-email h3{
    font-family: 'Source Sans Pro', serif;
}
.container{

    align-items: inherit;
    display: inherit;
    height: inherit;
    justify-content: inherit;
    margin: 0 auto;
    width: 1000px;

}
